.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

  /* Ajuste específico para dispositivos móviles */
@media (max-width: 768px) {
  .ant-notification-notice {
  max-width: 90%;
  font-size: 14px; /* Ajusta el tamaño de la fuente según sea necesario */
  }
}