/* START */

body {
    margin: 0;
    font-family: 'system-ui';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* MARGINS */

.margin-top-small {
    margin-top: 8px;
}
  
.margin-top-medium {
    margin-top: 16px;
}

.margin-top-large {
    margin-top: 24px;
}

.margin-bottom-small {
    margin-bottom: 8px;
}

.margin-bottom-medium {
    margin-bottom: 16px;
}

.margin-bottom-large {
    margin-bottom: 24px;
}

.margin-left-small {
    margin-left: 8px;
}

.margin-left-medium {
    margin-left: 16px;
}

.margin-left-large {
    margin-left: 24px;
}

.margin-right-small {
    margin-right: 8px;
}

.margin-right-medium {
    margin-right: 16px;
}

.margin-right-large {
    margin-right: 24px;
}

/* GRID */

.display-flex {
    display: flex;
}

.left {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.right {
    justify-content: flex-end;
}

/* WIDTH */

.w-200 {
    width: 350px;
}