nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 1rem;
  }
  
  nav h1 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  nav div {
    display: flex;
    align-items: center;
  }
  
  nav span {
    margin-right: 1rem;
  }
  
  button {
    background-color: #555;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: #444;
  }

  /* Ajuste específico para dispositivos móviles */
@media (max-width: 768px) {
  .ant-notification-notice {
  max-width: 90%;
  font-size: 14px; /* Ajusta el tamaño de la fuente según sea necesario */
  }
}